*, *:after, *:before {margin: 0; padding: 0;}

@charset "UTF-8";
.wf-loading {
  visibility: hidden;
}

.wf-active, .wf-inactive {
  visibility: visible;
}

@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

::-moz-selection {
  background-color: #020102;
  color: white;
}

::selection {
  background-color: #020102;
  color: white;
}

@font-face {
    font-family: 'cooper-bold';
    src: url('http://www.justaddsalt.ca/salt2019fonts/cooperltbtbold-webfont.woff2') format('woff2'),
         url('http://www.justaddsalt.ca/salt2019fonts/cooperltbtbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'duel-4';
  src: url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.eot'); /* IE9 Compat Modes */
  src: url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v4sharp-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'duel-10';
  src: url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.eot'); /* IE9 Compat Modes */
  src: url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.justaddsalt.ca/salt2019fonts/atcduel-v10sharp-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*@media only screen and (min-width: 38em) {
  body {
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
    margin: 18px auto;
  }
}*/

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 100%;
  font-family: ocr-b-std, monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  /*width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px auto;*/
  background-color: white;
  color: #020102;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'cooper-bold';
    letter-spacing: -.015;
    margin: 2.75rem 0 1rem;
    line-height: .9;
}

p {margin-bottom: 1.25em;}

h1, .uno {
  margin-top: 0;
  font-size: 4.110em;
}

h2, .dos {font-size: 3.247em;}

h3, .tres {font-size: 1.424em;}

h4, .cuatro {font-size: 1.125em;}

h5, .cinco {font-size: 1em;}

small, .small {font-size: 0.889em;}

.x-small {font-size: 0.790em;}

.duel-4 {font-family: 'duel-4'; text-transform: uppercase;}
.duel-10 {font-family: 'duel-10'; text-transform: uppercase;}
.cooper {font-family: 'cooper_bold';}
.allcaps {text-transform: uppercase;}
.center {text-align: center;}
.cooper-stroke-white {
    color: white;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.0275em;
    -webkit-text-stroke-color: white;
}
.cooper-stroke-black {
    color: #020102;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.0275em;
    -webkit-text-stroke-color: #020102;
}

.black-bg {background-color: #020102;}
.bg-image {background-size: cover; background-position: center center;}

body a {
  color: #464646;
}

.no-list {list-style: none;}
.white, .white a {color:white;}
.no-decor, .no-decor a {text-decoration: none;}

header {background-image: url(http://www.justaddsalt.ca/salt2019images/hero-banner.jpg); padding-top: 1em}

.svg-item {display: block; overflow: hidden;}
.nav-item {display: inline-block; margin: .25em .5em;}
.nav-logo {width: 6.875rem; height: 2.46875rem; margin: 0 auto 1em;}
.nav-ig {width: 1.125rem; height: 1.125rem; margin: 1em auto;}
.ig-svg, .logo-svg {fill: white;}

@media only screen and (min-width: 38em) {
}

.container {display: flex; flex-direction: column; justify-content: center; align-content: center; padding: 4rem 0}
.btn-img {padding: 2.85em; width: 5.1875em; background-size: contain; background-repeat: no-repeat; background-position: center center;}
.btn-squiggle {background-image: url(http://www.justaddsalt.ca/salt2019images/btn-squiggle-circle.png); margin: 0 auto;}
