/*@media only screen and (min-width: 38em) {
  body {
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
    margin: 18px auto;
  }
}*/

*, *:after, *:before {margin: 0; padding: 0;}

@charset "UTF-8";
.wf-loading {visibility: hidden;}
.wf-active, .wf-inactive {visibility: visible;}
@-moz-viewport {width: device-width;scale: 1;}
@-ms-viewport {width: device-width;scale: 1;}
@-webkit-viewport {width: device-width;scale: 1;}
@viewport {width: device-width;scale: 1;}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  /*width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px auto;*/
}

/* ----- TYPE ----- */

::-moz-selection {background-color: #020102;color: white; opacity: 1;}
::selection {background-color: #020102;color: white; opacity: 1;}

@font-face {
    font-family: 'cooper-bold';
    src: url('../fonts/cooperltbtbold-webfont.woff2') format('woff2'),
         url('../fonts/cooperltbtbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'duel-4';
  src: url('../fonts/atcduel-v4sharp-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/atcduel-v4sharp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atcduel-v4sharp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atcduel-v4sharp-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/atcduel-v4sharp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atcduel-v4sharp-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'duel-10';
  src: url('../fonts/atcduel-v10sharp-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/atcduel-v10sharp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atcduel-v10sharp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atcduel-v10sharp-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/atcduel-v10sharp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atcduel-v10sharp-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-size: 100%;
  font-family: ocr-b-std, monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  line-height: 1.4;
  background-coloxzr: white;
  color: #020102;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1, h2, h3, h4, h5, h6 {font-family: 'cooper-bold';letter-spacing: -.015;margin: 2.75rem 0 1rem;line-height: .9;}
p {margin-bottom: 1.25em;}
h1, .uno {margin-top: 0;font-size: 4.110em;line-height: .856;}
h2, .dos {font-size: 3.247em;}
h3, .tres {font-size: 1.424em;}
h4, .cuatro {font-size: 1.125em;}
h5, .cinco {font-size: 1em;}
small, .small {font-size: 0.889em;}
.x-small {font-size: 0.790em;}

.duel-4 {font-family: 'duel-4'; text-transform: uppercase; line-height: .9 !important;}
.duel-10 {font-family: 'duel-10'; text-transform: uppercase; line-height: .9 !important;}
.cooper {font-family: 'cooper-bold'; font-weight: 700;}
.allcaps {text-transform: uppercase;}
.center {text-align: center;}
.cooper-stroke-white {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: white;
}
.cooper-stroke-black {
    color: #020102;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #020102;
}

body a {color: #020102;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.no-list {list-style: none;}
.white, .white a {color:white;}
.no-decor, .no-decor a {text-decoration: none;}

.no-bull {list-style-type: none;}


/* ----- COLORS ----- */

.black-bg {background-color: #020102;}
.black-bg {color: white !important;}

.smooth {
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}


/* ----- NAV ----- */

header {background-image: url(../images/hero-banner.jpg); padding-top: 1em}
.svg-item {display: block; overflow: hidden;}
.nav-item {display: inline-block; margin: .25em .5em;}
.nav-logo {width: 6.875rem; height: 2.46875rem; margin-bottom: 1em;}
.nav-ig {width: 1.125rem; height: 1.125rem; margin: 1em auto;}
.ig-svg, .logo-svg {fill: white;}


/* ----- LAYOUT ----- */

.flex-img {display: block; width: 100%; margin: 0 auto;}
.center-it {margin-left: auto; margin-right: auto;}

.no-mt {margin-top: 0;}
.no-mb {margin-bottom: 0;}

.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}

.container {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-content: center; 
	padding: 12% 0; 
	width: 90%; 
	max-width: 70rem; 
	margin-left: auto; 
	margin-right: auto;
}

@media only screen and (min-width: 40rem) {
	.container {
		padding: 9% 0; 
	}
}

@media only screen and (min-width: 80rem) {
	.container {
		padding: 6% 0; 
	}
}

.flex-center {display: flex; align-items: center; justify-content: center; flex-direction: column;}

@media only screen and (min-width: 30rem) {
    .flex-row-small {display: flex;flex-direction: row;}
    .flex-row-middle {align-items: center;} 
}

@media only screen and (min-width: 66rem) {
    .flex-row {display: flex;flex-direction: row;}
}

/* --------- PATTERNS -------- */

.squiggle-sec {
    background-image: url(../images/salt-squiggles-pattern.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center top;
	position: relative; 
	padding-top: 5.6%
}

.squiggle-sec-wt {
	background-image: url(../images/salt-squiggles-pattern-white.jpg);
}

.squiggle-sec-under {
	margin-top: -8%;
	padding-top: 2%;
	position: relative;
	z-index: -1; 
}

@media only screen and (min-width: 40rem) {
	.squiggle-sec-under {
		margin-top: -4%;
	}
}

.grain-section {position: relative; z-index: 2;}
.grain-bottom {-webkit-transform: rotate(180deg); transform: rotate(180deg); position: relative; z-index: 1; margin-top: -1px;}
.grain-top {margin-bottom: -1px;}

@media only screen and (max-width: 42rem) {
	.grain-img {width: 200%;}
}

/* ----- BUTTONS ----- */

.btn-img p {position: absolute; margin-top: 2px;}
.btn-circle, .btn-circle img{width: 7rem;}
.btn-circle p {width: 4rem !important;}

.btn-rectangle {text-decoration: none; padding: 8px 18px;background-image: url(../images/btn-rectangle-black.png); background-size: 100% 100%; background-repeat: none; background-position: center; color: white;}
.btn-rectangle-secon {text-decoration: none; padding: 8px 18px;color: white; background-color: #020102; border-radius: 2px;}

.hand-link {width: 80px; margin-top: 2rem;}



/* ----- HOMEPAGE ----- */

/* Hero */

.hero-intro h1 {max-width: 16rem;}
.hero-intro div p {max-width: 16rem;}


/* Projects */
.bg-image, .project-image {background-size: cover; background-position: center center;}
.project-meta {padding-top: 0;}
.project-meta ul,.project-meta h2 {margin-bottom: 1.25rem;}
.project-image {height: 20rem; background-image: url(../images/portfolio/letsmatcha-1.jpg)}
.project-description p {margin-bottom: 2rem;}

@media only screen and (min-width: 66em) {
	.project-meta h2 {max-width: 21rem}
    .project-meta {flex-direction: row; align-content: flex-start; justify-content: space-between;}
    .project-image {height: 40rem;}
    .project-meta h2 {transform: translateY(-54%);margin-top: 0; max-width: 15rem;}
    .project-meta .project-description {width: 50%;}
}


/* Small But Mighty */
.about-title h2 {position: relative; display: inline-block; margin-bottom: 0;}
.about-title h2:after {content: ''; width: 5rem; height: 5rem; background-image: url('../images/salt-kickass-brands.jpg'); background-size: contain; background-repeat: no-repeat; position: absolute; z-index: 2; right: -6rem; bottom: 0rem;}
.about-desc-p-holder {width: 100%; margin: 2rem 0}
.about-desc p {max-width: 14rem; padding-right: 2%; margin-bottom: 0;}
.service-list ul {width: 100%;}
.testimonial {margin-top: 2rem;}

@media only screen and (min-width: 30rem) {
    .service-list ul {width: 50%;}
    .about-desc-p-holder {width: 50%;}
}

@media only screen and (min-width: 66rem) {
	.about-title h2:after {right: -4rem; bottom: -2.2rem;}
    .service-list {width: 50%; margin-top: 4rem;}
    .service-list ul {width: 40%;}
    .testimonial {width: 50%; margin-top: 4rem;}
    .about-title {width: 50%}
    .about-desc {width: 50%;}
}

#show-me-more {max-width: 25rem;}


/* Work Together */
#work-together h2 {max-width: 18rem;}
#work-together p {max-width: 15rem;}


/* What's Shaking */
#newsletter .flex-row {align-items: center;}
#newsletter {background-position: center -8rem;}

@media only screen and (min-width: 40rem) {
	#newsletter {background-position: center -10rem;}
}

.salt-newsletter, .whats-shaking {width: 70%;}
.salt-newsletter {max-width: 14rem;}
.whats-shaking {max-width: 14rem; margin-top: .5rem;}

@media only screen and (max-width: 66rem) {
	.right-p, .left-p {width: 48%; display: inline-block; margin-top: 1rem;}
	.left-p p {padding-right: .5rem}
	.right-p p {padding-left: .5rem;}
}

@media only screen and (min-width: 66rem) {
	.whats-shaking {order: 2; flex-grow: 1;}
	.left-p {order: 1; flex-grow: 3; display: flex; justify-content: flex-end; padding-right: 2rem;}
	.right-p {order:3; flex-grow: 3; padding-left: 2rem;}
	.left-p p {max-width: 12rem;}
	.right-p p {max-width: 11rem;}
}


/* ---------- FOOTER -------- */

footer {padding: 1rem; display: flex; justify-content: space-between; align-items: flex-end;}
.footer-logo {
	width: 3.4rem; height: 1.235rem; display: inline-block; margin-top: .2rem;
	transform: translateY(1px); -webkit-transform: translateY(1px);
}

footer h3, footer p {display: inline-block;}
footer h3 {margin-right: 5px;}

footer li:nth-child(2) {margin-top: -5px;}

.copyright {transform: translateY(-1px); -webkit-transform: translateY(-1px);}

@media only screen and (min-width: 40rem) {
	footer li {display: inline-block;}
	footer {align-items: center}
}


/* ---------- PROJECTS -------- */

.project-hero {min-height: 20rem;}
.proj-desc {max-width: 40rem;}

.proj-nav-btn {width: 50%; text-align: center; padding: 3rem 0;}
.proj-nav-btn:hover {background-color: rgba(255,255,255,.2);}

@media only screen and (min-width: 40rem) {
	.project-hero {min-height: 30rem;}
	.project-row {display: flex;}
}